.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 56px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.logo, .dumy, .search {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.logo{
    height: 50px;
    width: auto;
}

.search {
    height: 40px;
    position: relative;
    justify-content: center;
    animation: grow forwards 500ms;
}

@keyframes grow {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}