.main_search_box_group {
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    height: 40px;
}

.go_button,
.search_icon {
    position: absolute;
    top: 50%;
    z-index: 3;
    transform: translate(0, -50%);
}

.go_button {
    right: 8px;
    padding: 8px 20px;
    border-radius: 15px;
    color: white;
    background-image: linear-gradient(to left, #FF619B, #FF618F, #FF6184, #FF6174, #FF6171, #FF616C);
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 6px 1px #0000009d;
}

.go_button:hover {
    /* add a neon box-shadow */
    box-shadow: 0px 0px 20px 12px #ff618e9d;
    transition: box-shadow 0.3s ease-in-out;
}

.search_icon {
    left: 15px;
}

.main_search_box {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #d2d2d2b8;
    border: none;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    /* add inset box-shadow */
    box-shadow: inset 3px 3px 8px 1px #0000003b;
}

.main_search_box:focus-visible {
    outline: none;
}

.main_search_box::placeholder {
    color: white;
}