.main_search_box_group {
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    height: 40px;
}

.go_button,
.search_icon,
.loader {
    position: absolute;
    top: 50%;
    z-index: 3;
    transform: translate(0, -50%);
}

.go_button {
    right: 8px;
    padding: 8px 20px;
    border-radius: 15px;
    color: white;
    background-image: linear-gradient(to left, #FF619B, #FF618F, #FF6184, #FF6174, #FF6171, #FF616C);
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 6px 1px #0000009d;
}

.go_button:hover {
    /* add a neon box-shadow */
    box-shadow: 0px 0px 20px 12px #ff618e9d;
    transition: box-shadow 0.3s ease-in-out;
}

.search_icon {
    left: 8px;
}

.main_search_box {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #e5e5e599;
    border: none;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
}

.main_search_box:focus-visible {
    outline: none;
}

.main_search_box::placeholder {
    color: white;
    font-size: 1.1rem;
}

.no_text_select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.drop_down_item {
    padding: 10px;
    border: none;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

.drop_down_item:hover {
    background-color: #ff618e;
    transition: background-color 0.3s ease-in-out;
}

.loader {
    left: -45px;
}