<div class="main_search_box_group">
    <div class="loader">
        <lta-loader [isLoading]="_isLoading"></lta-loader>
    </div>
    <picture class="search_icon">
        <source media="(min-width:465px)" srcset="assets/magnifying_glass_large.png">
        <img src="assets/magnifying_glass_small.png" alt="Search Icon">
    </picture>
    <input type="text" (input)="onValueChange($event)"
        [value]="controlValue? controlValue.city + ', ' + controlValue.country_name : ''" class="main_search_box"
        placeholder="search..." (focus)="onFocus()" (focusout)="onFocusOut()">
    <button type="submit" class="go_button" (click)="onGoClick()">Go</button>
    <ec-popup-window [isPopupOnScreen]="isPopupOnScreen">
        <ng-container *ngFor="let item of destinationForList?.destinations">
            <div class="drop_down_item" (click)="onItemClick(item)">
                {{item.city + ', ' + item.country_name}}
            </div>
        </ng-container>
    </ec-popup-window>
</div>