/* layout */
.img {
    position: relative;
    background-image: url(/assets/background_1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page_image_content {
    color: white;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.text {
    text-align: center;
}

.search_box_area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.description{
    color: #e4dde3;
}