<div class="home_page">
    <div class="page_image_container">
        <div class="page_image img vignette_effect">
            <div class="page_image_content">
                <div class="text">
                    <p class="text_large">Search LuckyTrip</p>
                    <p class="description text_small"> 350 destinations, 1500 blog posts, Unlimited Trips</p>
                    <div class="search_box_area">
                        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                            <lta-main-search [formControlName]="'mainSearch'" (isLoading)="isSearchLoading($event)"
                                (onNewSearch)="onNewSearch($event)"></lta-main-search>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <lta-content-area>
        <lta-blog-posts [title]="'Trending'" [posts]="destinationForList?.destinations" [isLoading]="isLoading" (onPostClick)="onPostClick($event)"></lta-blog-posts>
    </lta-content-area>
</div>